extends layout

block scripts
    script(src='/javascripts/homepageController.js')

block content
    a(href="/login") login
    br
    a(href="/search") search

    div.contain-to-grid(ng-controller="MainController")
        nav.miles-top-bar
            section
                ul.left
                    a(href="/" target="_self")
                        img.miles-top-bar-image(src="../images/MilesIcon-01.svg")
                ul.right
                    a.signin-button(ng-show="isAuthenticated == false" ng-cloak ng-click="login()")
                        span.text-left SIGN IN
                    a.signout-button(ng-show="isAuthenticated == true" ng-cloak ng-click="logout()") SIGN OUT
    div(ng-view)

