row#atMilesPage
   #firstPage.row(ng-show="isAuthenticated == false")
      .row.banner
         .show-for-medium-up
            .medium-12.large-12.medium-centered.banner.columns.text-center
               img(src="../images/MilesHomeImage.png" height="366px")
            .centered-button-container
               a.button.medium.radius(ng-click="login()") LOGIN AND SEARCH
         .show-for-small-only
            .small-12.small-centered.columns
               img.twelve-columns(src="../images/HomeSceneImageMobile-01.jpg" height="153px" width="100%")
      .row.small-12.small-centered.banner2.columns
         h3
            span.banner2-text @Miles let you quickly search for consultants within Miles organisation. Search for name, phone number and office location.
            br
            br
            span.banner2-text Sign in with your Miles google account, and you are ready to go!
            br
            br
            img.banner2-image(src="../images/BoyIcon-01.svg" height="96px" width="96px")
            img.banner2-image(src="../images/GirlIcon-01.svg" height="96px" width="96px")
      .row.small-12.small-centered.banner3.columns
         span.banner3-text Miles AS Copyright 2014&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
         a.banner3-link(href="http://www.miles.no" target="_blank") www.miles.no
         span.banner3-text &nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
         a.banner3-link(href="https://miles-no.socialcast.com/groups/111332-appmiles" target="_blank") feedback @ SocialCast