pre.wrapped {
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
}

.warning-message-container {
    margin-top: 20px;
    padding: 0 10px;
    color: #525252;
    background: #EFDCA9; 
    border: 1px solid #CCCCCC;
}

.help-page-table {
    width: 100%;
    text-align: left;
    margin: 0 0 20px 0;
    border-top: 2px solid #D4D4D4;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.help-page-table th {
    text-align: left;
    font-weight: bold;
    border-bottom: 2px solid #D4D4D4;
    padding: 8px 6px 8px 6px;
}



.help-page-table pre, .help-page-table p {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 100%;
}

.help-page-table tbody tr:hover td {
    background-color: #EEE;
}

a:hover {
    background-color: transparent;
    text-decoration: none;
}

.sample-header {
    border: 2px solid #D4D4D4;
    background: #76B8DB;
    color: #FFFFFF;
    padding: 8px 15px;
    border-bottom: none;
    display: inline-block;
    margin: 10px 0 0 0;
}

.sample-content {
    display: block;
    border-width: 0;
    padding: 15px 20px;
    background: #FFFFFF;
    border: 2px solid #D4D4D4;
    margin: 0 0 10px 0;
}

.api-name {
    width: 40%;
}

.api-name a {
    color: black;
}

.api-documentation {
    width: 60%;
    text-align: right;
    padding-right: 10px;
}

.parameter-name {
    width: 20%;
}

.parameter-documentation {
    width: 50%;
}

.parameter-source {
    width: 30%;
}

.api-method {
    font-size: 12px;
    color: white;
    line-height: 34px;
    padding: 11px 10px 11px 10px;
    /* ReSharper disable once CssBrowserCompatibility */
    border-radius: 5px;
}

.api-method{
    text-decoration: none;
} 

.api-method-row {   
    height: 36px;
    line-height: 36px;
} 

.api-method-row-GET{
    background-color: #e7f0f7;
} 

.api-method-row-DELETE {
    background-color: #f5e8e8;
} 

.api-method-row-PUT {
    background-color: #f9f2e9;
} 

.api-method-row-POST {
    background-color: #e7f6ec;
} 

.api-method-GET{
    background-color: #0f6ab4;
}

.api-method-PUT{
    background-color: #D38042;
}

.api-method-POST{
    background-color: #10a54a;
}

.api-method-DELETE{
    background-color: #a41e22;
}

.api-path:before {
    content: "/";
}
