{
  "EventServerHost": "host",
  "EventServerSUsername": "un",
  "EventServerSPassword": "pwd",
  "RabbitMqHost": "host",
  "RabbitMqUsername": "un",
  "RabbitMqPassword": "pw",
  "RabbitMqCommandQueueName" : "Commands",
  "RabbitMqCommandExchangeName" : "Commands_X",
  "CvPartnerToken": "12345",
  "RavenDbUrl": "http://localhost:8080"
}