{
  "EventServerHost": "host",
  "EventServerSUsername": "un",
  "EventServerSPassword": "pwd",
  "RabbitMqHost": "host",
  "RabbitMqUsername": "un",
  "RabbitMqPassword": "pw",
  "RabbitMqQueueName": "Queue",
  "CvPartnerToken": "12345"
}